
.Navigation {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 68px;
  font-family: 'Inter';
  background-image: url(../IMG/baseFone.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.logo {
  position: absolute;
  width: 143px;
  height: 34px;
  margin-left: 4%;
  top: 17px;
}

.menu {
  display: flex;
  margin-left: 350px;
  align-items: center;
  flex-grow: 1;
}

.menu a {
margin-left: auto;
  text-decoration: none;
  margin-right: 24px;
  color: #656464;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 14px;
  font-size: 14px;
}

.Home {
  font-weight: 800;
  color: #2B2B39;
}

.Community {
  width: 78px;
}

.arrowDown {
  width: 9px;
  height: 9px;
  margin-left: 3px;
}

.Blog {
  width: 28px;
}

.Events {
  width: 46px;
}

.search {
  display: flex;
  align-items: center;
 

  
}

.search__input {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #757575;
  

}


.buttonLoginIn{
   
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 50px;
  border-radius: 14px;
  background-color:#217BF4;  
  margin-top: 0.5%;
  margin-right: 6%;
}

.buttonLoginIn a{
text-decoration: none;
color: #FFFFFF;


}
